form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(37, 222, 222);
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.errors {
  color: red;
  margin-top: 10px;
}

.errors h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.errors li {
  font-size: 14px;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

